html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}

main{
    width: 70%;
    margin: 0 auto;
}
hr{
    width: 100%;
    height: 1px;
    background-color: #ccc;
    border: none;
    margin: 20px 0;
}
.author-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 100px 0;
    border-radius: 5px;
    padding: 20px;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.author-image img{
    width: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px double #53bd97;
    box-shadow: 10px 0px 5px #ccc;
}

.author-name{
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}
.author-birth-date{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #53bd97;
}


.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.description-container{
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 100%;
    color: black;
    font-size: 1.2em;   
    border: 12x solid #53bd97;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.1);
    min-width: 400px;
}

.description-title{
    width: 100%;
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #53bd97;
    color: white;
}

.author-description{
    width: 100%;
    padding: 20px;
    font-size: 1em;
    text-indent: 2em;
    text-align: justify;
    overflow-y: auto;
    overflow-x: hidden;
    height: 200px;
}

.bottom h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.author-books{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.author-book{
    width: 350px;
    height: 550px;
     border: 1px solid #53bd97;
     border-radius: 20px;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-direction: column;
     flex-wrap: wrap;
     position: relative;
     transition: 0.5s ease;
     cursor: pointer;
     padding: 20px;
    }
.author-book:hover{
    box-shadow: 0 0 30px #53bd97;
    transition: 0.5s ease;
}

.author-book a img{
    border: 1px solid rgba(0,0,0,0.1);
     width: 200px;
     height: 300px;
     border-radius: 10px;
     transition: 0.5s ease;
}

.author-book a:hover img {
    transform: scale(1.1);
    transition: 0.5s ease;
}
.author-book h3 {
    font-size: 2em;
    color: black;
    text-align: center;
    margin-bottom: 5px;
}
.author-book h1 {
    font-size: 1.5em;
    color: black;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 400;
}

.author-book button {
    width: 75%;
    height: 40px;
    background-color: #53bd97;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.5s ease;
}

.author-book button:hover {
    background-color: #bababa;
    color: black;
    transition: 0.5s ease;
}

.author-book button:hover .price {
    display: none;
}
.author-book button .to-cart {
    display: none;
}

.author-book button:hover .to-cart {
    display: block;
    color: black;
}
.added-to-cart {
  display: none;
  color: #53bd97;
  font-size: 1.2em;
  font-weight: 600;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px #53bd97;
}


@media (max-width: 1600px) {
  .author-container {
    margin-top:200px;
  }

  .author-image img {
    width: 150px;
  }

  .description-container {

    width: 100%;
  }

  .description-title {
    font-size: 1.2em;
  }

  .author-description {
    font-size: 1em;
  }

  .bottom h2 {
    font-size: 1.5em;
  }

  .author-book {
    width: 100%;
    padding: 10px;
  }

  .author-book h3 {
    font-size: 1em;
  }

  .author-book h1 {
    font-size: 0.9em;
  }

  .author-book button {
    font-size: 0.9em;
    width: 100%;
  }
  .vl {
    display: none;
  }
  .to-up{
    width: 1px;
  }
}




@media (max-width: 768px) {

    .author-container {
      margin-top: 150px;
    }
    main {
      width: 95%;
      margin: 0 auto;
    }
  
    .author-image img {
      width: 200px;
    }
  
    .author-name {
      font-size: 1.8em;
    }
  
    .author-birth-date {
      font-size: 1.2em;
    }
  
    .description-container {
      font-size: 1em;
      min-width: unset;
      width: 100%;
    }
  
    .description-title {
      font-size: 1.5em;
    }
  
    .author-description {
      height: auto;
      font-size: 0.95em;
    }
  
    .bottom h2 {
      font-size: 2em;
      text-align: center;
    }

    .author-books{
      margin-bottom: -100px;
     
    }
  
    .author-book {
      width: 90%;
      height: auto;
      padding: 15px;
    }
  
    .author-book a img {
      width: 150px;
      height: auto;
    }
  
    .author-book h3 {
      font-size: 1.2em;
    }
  
    .author-book h1 {
      font-size: 1em;
    }
  
    .author-book button {
      font-size: 1em;
      width: 90%;
    }
  
    .vl {
      display: none;
    }
  
    #search-input {
      width: 90%;
    }

    .to-up{
      width: 10px;
    }
  }



  