html{
    scroll-behavior: smooth;
}
body{
    transition: all 0.5s;
}

.category-hr{
    width: 90%;
    height: 3px;
    background-color: #ccc;
    border-radius: 20px;
    margin-bottom: -200px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 150px
}

.categories{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    flex-wrap: wrap;
    position: sticky;
    top: 1px;
    z-index: 2
}

.categories .category{
    background-color: #53bd97;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 1px 1px 5px #ccc;
    border-radius:20px;
    margin: 20px 20px;
    width: 200px;
    height: 150px;
    transition: 0.5s;
    cursor: pointer;
}
.categories .category:hover{
    scale: 1.1;
    box-shadow: 0 0 30px #53bd97;
    border-color: #fff;
}

.category.selected{
    background-color: #fff;
    border: 2px solid #53bd97;
    scale: 1.11;
    box-shadow: 0 0 30px #53bd97;
}
.category.selected i{
    color: #53bd97;
}
.category.selected span{
    color: #53bd97;
}

.category i{
    font-size: 4em;
    color: #fff;
    transition: 0.5s;
    margin: 40px 0 ;
}

.category span{
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
    margin-top: 15px;
}

.book-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 200px;

}

.book-container .book{
    width: 350px;
    height: 550px;
    border: 1px solid #53bd97;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 20px 10px 30px 10px;
    grid-template-columns: repeat(4, 1fr);
}

.book:hover{
    transform: scale(1.05);
    box-shadow: 0 0 30px #53bd97;
    transition: 0.5s ease;
}

.book:hover a img{
    transform: scale(1.1);
    transition: 0.5s ease;
}


.book a img{
    border: 1px solid rgba(0,0,0,0.1);
    width: 200px;
    height: 300px;
    border-radius: 10px;
    transition: 0.5s ease;
}

.book a img:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}
.book h3{
    font-size: 2em;
     color: black;
     text-align: center;
     margin-bottom: 5px;
}

.book h1{
    font-size: 1.5em;
    color: black;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 400;
}
.book .purchase {
    width: 75%;
    height: 40px;
    background-color: #53bd97;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.5s ease;
}
.book .purchase:hover {
    background-color: #bababa;
     color: black;
     transition: 0.5s ease;
}

.book .purchase:hover .price {
    display: none;
}

.book .purchase .to-cart {
    display: none;
}

.book .purchase:hover .to-cart {
    display: block;
    color: black;
}

.disabled{
    pointer-events: none;
    background-color: red;
    opacity: 0.5;
}

@media (max-width: 1600px) {
    .categories {
        flex-direction: row;
        align-items: center;
        position: relative;
        margin-top: 230px;
        gap: 5px;  

    }
    .categories .category {
        width: 20%;
        height: 150px;
        padding: 10px 40px;
        font-size: 0.8em;
    }

     .book-container {
        gap: 20px;
     }
    

    .book-container .book {
        width: 250px;
        height: 400px;
    }

    .book a img {
        width: 120px;
        height: 180px;
    }

    .book h3 {
        font-size: 1.2em;
    }

    .book h1 {
        font-size: 1em;
    }

    .book .purchase {
        font-size: 0.8em;
        height: 35px;
    }
    
}

@media (max-width: 1200px) {
    .categories {
        flex-direction: row;
        align-items: center;
        position: relative;
        margin-top: 150px;
        gap: 5px;  

    }
    .categories .category {
        width: 20%;
        height: 150px;
        padding: 10px 40px;
        font-size: 0.8em;
    }

     .book-container {
        gap: 20px;
     }
    

    .book-container .book {
        width: 250px;
        height: 400px;
    }

    .book a img {
        width: 120px;
        height: 180px;
    }

    .book h3 {
        font-size: 1.2em;
    }

    .book h1 {
        font-size: 1em;
    }

    .book .purchase {
        font-size: 0.8em;
        height: 35px;
    }
    .to-up {
        bottom: 50px;
        right: 10px;
    }

    .to-up a {
        font-size: 1.2em;
        padding: 8px 12px;
    }

    .to-up p {
        font-size: 0.8em;
    }
}

@media (max-width: 768px) {
    .categories {
        flex-direction: row;
        align-items: center;
        position: relative;
        margin-top: 30px;
        gap: 5px;  

    }
    .categories .category {
        width: 20%;
        height: 150px;
        padding: 10px 40px;
        font-size: 0.8em;
    }

     .book-container {
        gap: 20px;
     }
    

    .book-container .book {
        width: 250px;
        height: 400px;
    }

    .book a img {
        width: 120px;
        height: 180px;
    }

    .book h3 {
        font-size: 1.2em;
    }

    .book h1 {
        font-size: 1em;
    }

    .book .purchase {
        font-size: 0.8em;
        height: 35px;
    }
    .to-up {
        bottom: 50px;
        right: 20px;
    }

    .to-up a {
        font-size: 1.2em;
        padding: 8px 12px;
    }

    .to-up p {
        font-size: 0.8em;
    }
}