html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

hr {  
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid #bababa;
    width: 50%;
    border-radius: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#ad-slider {
    margin-top: 320px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; 
    margin-bottom: 200px;
}

.slider-item{
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    transition: 0.5s ease;
    cursor: pointer;
}

.slider-item.visible{
    opacity: 1;
}

.slider-item a{
    text-decoration: none;
    z-index: 999;
}

   

.slider-item  img {
   border-radius: 10px;
   box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.2);
  
}

#ad-slider>i{
    font-size: 3em;
    color: #53bd97;
    cursor: pointer;
    transition: 0.5s;
}

#ad-slider .fa-circle-right{
    z-index: 1002;
    margin: 0 auto;
}
#ad-slider .fa-circle-left{
    z-index: 1002;
    margin: 0 auto;
    margin-right: 700px;
  
}

#ad-slider .fa-circle-right:hover, #ad-slider .fa-circle-left:hover{
    color: #bababa;
}

#ad-slider .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 520px;
    flex-direction: row;
    flex-wrap: wrap; 
}

#ad-slider .dots .fa-solid{
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.521);
    cursor: pointer;
    margin: 0 10px;
    z-index: 999;
    margin-top: -75px;
    border: 2px solid rgba(0, 0, 0, 0.459);
    box-shadow: 0 0 20px white;
    border-radius: 50%;
}

#ad-slider .dots .fa-circle-dot{
  font-size: 1.2em;
    color: white;
    cursor: pointer;
    margin: 0 10px;
    z-index: 999;
    margin-top: -75px;
    border: 4px solid black;
    border-radius: 50%;
}

#ad-slider .dots .fa-circle:hover, #ad-slider .dots .fa-circle-dot:hover{
    color: black;
    border: 4px solid #53bd97;
}


.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #53bd97;
    margin-top: 100px;
    position: absolute;
    z-index: 1000;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #53bd97;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }

#authors{
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #53bd97;
    padding: 30px;
    border-radius: 50px;
    background-color:  #fff
}

#authors h2{
    font-size: 2em;
    color: #53bd97;
    border: 1px solid #53bd97;
    background-color: #fff;
    box-shadow: 0 0 20px #53bd97;
    padding: 10px 300px;
    border-radius: 100px;
    margin-top: 20px;
    font-weight: 400;
}

.author-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; 
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.author-item{
    width: 250px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
    font-size: 1.4em;
}

.author-item:hover{
    transition: 0.5s ease;
    font-size: 1.3em;
}

.author-item img {
    width: 250px;
    border-radius: 10px;
    transition: 0.5s ease;
    border: 1px solid #53bd97;
    border-radius: 50%;
    transform: rotate(5deg);
}

.author-item:hover img {
    transform: scale(1.05);
    box-shadow: 0 0 30px #53bd97;
    transition: 0.5s ease;
   
}

#authors .vl{
    border-left: 1px solid #bababa; 
    height: 200px;
    margin: 0 20px;
}

#authors a{
    text-decoration: none;
  }

 .author-item p {
    width: 90%;
    color: black;
    text-align: center;
    margin-bottom: 5px;
    background-color: #53bd97;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.responsive {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; 
  display: none;
}
.responsive .title{
    font-size: 2em;
    color: #53bd97;
    border: 1px solid #53bd97;
    background-color: #fff;
    box-shadow: 0 0 20px #53bd97;
    padding: 10px 300px;
    border-radius: 100px;
    margin-top: 20px;
    font-weight: 400;
}

.best-sellers{
    gap:  20px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    border-radius: 50px;
    background-color:  #fff
}
.new-books{
  gap:  20px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  border-radius: 50px;
  background-color:  #fff
}

@media (max-width: 1600px){
  #ad-slider {
    margin-top: 450px;
  }
  
  #ad-slider .dots {
    top: 740px;
  }

  .nav-bottom a{
    margin-top: 10px;
  }

  .vl{
    display: none;
  }
}
@media (max-width: 1437px) {
    #ad-slider {
      margin-top: 400px;
    }

    #ad-slider .slider-item a img {
      width: 100%;
    }

    #ad-slider .fa-circle-right {
      margin: 0 auto;
      margin-right: 20px;
      font-size: 2.5em;
    }

    #ad-slider .fa-circle-left {
      margin: 0 auto;
      margin-left: 20px;
      font-size: 2.5em;
    }

    #ad-slider .dots {
      font-size: 0.8em;
      top: 640px;
    }
    .responsive {
      display: flex;
    }
    .responsive .title {
      font-size: 1.5em;
      padding: 10px 200px;
    }

    .best-sellers {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .book-slider-container{
      display: none;
    }

    .best-sellers .slider-item-book {
      width: 20%;
      height: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .best-sellers .slider-item-book img {
      width: 120px;
      height: auto;
    }
    .best-sellers .slider-item-book h3{
      font-size: 1em;
    }  
    .best-sellers .slider-item-book h1{
      font-size: 1.2em;
    }
    .best-sellers .slider-item-book p{
      font-size: 0.8em;
    }

    .best-sellers .slider-item-book .purchase {
      font-size: 1em;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 2px 5px;
      border-radius: 10px;
    }

    .new-books {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .new-books .slider-item-book {
      width: 20%;
      height: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .new-books .slider-item-book img {
      width: 120px;
      height: auto;
    }
    .new-books .slider-item-book h3{
      font-size: 1em;
    }  
    .new-books .slider-item-book h1{
      font-size: 1.2em;
    }
    .new-books .slider-item-book p{
      font-size: 0.8em;
    }

    .new-books .slider-item-book .purchase {
      font-size: 1em;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 2px 5px;
      border-radius: 10px;
    }


    #authors {
      width: 70%;
      margin-top: -20px;
      margin-bottom: 40px;
      padding: 20px;
      border-radius: 40px;
    }

    #authors h2 {
      font-size: 1.5em;
      padding: 10px 200px;
      border-radius: 80px;
      margin-top: 15px;
      font-weight: 400;
    }

    .author-bottom {
      width: 80%;
      height: auto;
      margin-top: 15px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .vl {
     display: none;
    }
}
@media (max-width: 900px) {
  #ad-slider {
    margin-top: 400px;
  }

  #ad-slider .slider-item a img {
    width: 100%;
  }

  #ad-slider .fa-circle-right {
    margin: 0 auto;
    margin-right: 20px;
    font-size: 2.5em;
  }

  #ad-slider .fa-circle-left {
    margin: 0 auto;
    margin-left: 20px;
    font-size: 2.5em;
  }

  #ad-slider .dots {
    font-size: 0.8em;
    top: 640px;
  }
  .responsive {
    display: flex;
  }
  .responsive .title {
    font-size: 1.5em;
    padding: 10px 200px;
  }

  .best-sellers {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .book-slider-container{
    display: none;
  }

  .best-sellers .slider-item-book {
    width: 30%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .best-sellers .slider-item-book img {
    width: 120px;
    height: auto;
  }
  .best-sellers .slider-item-book h3{
    font-size: 1.4em;
  }  
  .best-sellers .slider-item-book h1{
    font-size: 1.2em;
  }
  .best-sellers .slider-item-book p{
    font-size: 0.8em;
  }

  .best-sellers .slider-item-book .purchase {
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px 5px;
    border-radius: 10px;
  }

  .new-books {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .new-books .slider-item-book {
    width: 30%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .new-books .slider-item-book img {
    width: 120px;
    height: auto;
  }
  .new-books .slider-item-book h3{
    font-size: 1.4em;
  }  
  .new-books .slider-item-book h1{
    font-size: 1.2em;
  }
  .new-books .slider-item-book p{
    font-size: 0.8em;
  }

  .new-books .slider-item-book .purchase {
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px 5px;
    border-radius: 10px;
  }


  #authors {
    width: 70%;
    margin-top: -20px;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 40px;
  }

  #authors h2 {
    font-size: 1.5em;
    padding: 10px 200px;
    border-radius: 80px;
    margin-top: 15px;
    font-weight: 400;
  }

  .author-bottom {
    width: 80%;
    height: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .vl {
   display: none;
  }
}
@media (max-width: 768px) {
  #ad-slider {
    margin-top: 230px;
    
  }
  #ad-slider .slider-item a img{
    width: 100%  
  }
  #ad-slider .fa-circle-right{
    margin: 0 auto;
    margin-right: 0px;
    font-size: 2em;
  }
  #ad-slider .fa-circle-left{
    margin: 0px auto;
    margin-left: 0px;
    font-size: 2em;
  }
   #ad-slider .dots {
    font-size: 0.5em;
    top: 420px;
  }
  .responsive {
    display:flex;
    margin-top: -170px;
  }
  .responsive .title{
    font-size: 0.8em;
    padding: 5px 50px;
  }
  .best-sellers{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .best-sellers .slider-item-book{
    width:40%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .best-sellers .slider-item-book img{
    width: 100px;
    height: auto;
    
  }
  .best-sellers .slider-item-book h3{
    font-size: 0.9em;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 10px;
  }
  .best-sellers .slider-item-book h1{
    font-size: 0.8em;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 10px;
  }
  .best-sellers .slider-item-book p{
    font-size: 0.5em;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 10px;
  }
  .best-sellers .slider-item-book .purchase{
    font-size: 0.5em;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    
  }

  .new-books{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .new-books .slider-item-book{
    width:40%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .new-books .slider-item-book img{
    width: 100px;
    height: auto;
    
  }
  .new-books .slider-item-book h3{
    font-size: 0.9em;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 10px;
  }
  .new-books .slider-item-book h1{
    font-size: 0.8em;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 10px;
  }
  .new-books .slider-item-book p{
    font-size: 0.5em;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 10px;
  }
  .new-books .slider-item-book .purchase{
    font-size: 0.5em;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    
  }

  .book-slider-container{
    display: none;
  }

  #authors{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    width: 90%;
    padding: 30px;
    border-radius: 50px;
  }
  #authors h2{
    font-size: 0.8em;
    padding: 10px 100px;
    border-radius: 100px;
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: -50px;
  }
   .author-bottom{
    width: 10%;
    height: 10%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   }

  .author-bottom a .author-item {
    margin-bottom: -100px;
  }
   .author-bottom a .author-item img {
    width: 50%;
    margin-bottom: -200px;
   }

}



