body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

.login-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50vh;
    width:50%;
    margin: 0 auto;
    margin-top: 25vh;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.login-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 1;
}

.login-container div h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #53bd97;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 10px 0;
}

.links .link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.5em;
    margin: 0 10px;
    padding: 10px 0px;
    border: 1px solid #ccc;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    transition:0.3s;
}
.links .link:hover{
    background-color: #53bd97;
    color: white;
    border-color: black;
    transform: scale(1.1);
}
.links a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
}

.login-container .or{
    font-size: 1em;
    font-weight: 100;
    color: #585858;
    margin: 10px 10px;

}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.input-container input {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.5em;
    background-color: #EEEEEE;
}
 form button {
    background-color: #53bd97;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    width: 35%;
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}
form button:hover {
    background-color: #45a76f;
    transform: scale(1.05);
}

.login-form .forgot-password {
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
}

.sign-up-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 1;
}

.blocker {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 25%;
    height: 50vh;
    right: 10%;
    background-color: #53bd97;
    z-index: 2;
    transform: translateX(-60%);
    transition: all 0.5s;
}

.blocker div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #53bd97;
    z-index: 2;
   
}

.blocker input{
    display: none;
}

.blocker div .logo{
    width: 150px;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px #53bd97;
    margin-bottom: 20px;
    transition: transform 0.8s ease-in-out;  
}

.blocker div h1{
    font-size: 2.5em;
    color: #fff;
    margin: 10px 0;
}

.blocker p{
    font-size: 1.5em;
    color: #fff;
    margin: 20px 0;
}

.blocker label{
    width: 35%;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    background-color: #53bd97;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.blocker label:hover{
    background-color: #fff;
    color: #53bd97;
    transform: scale(1.05);
}









    


