* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color:#fff;
    color: #53bd97;
    padding: 64px 0 30px 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    
}

.nav-top {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 20%;
}

.nav-left {
    width: 25%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 10px;
}
.nav-left a {
    text-decoration: none;
    color: #53bd97;
}

.nav-left .logo-name {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 10px;
}

.nav-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #53bd97;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    height: 45px;
}

.nav-middle>label>i{
    padding: 0 10px;
    color: #53bd97;
    font-size: 1.5em;
    margin-right: 10px;
    cursor: pointer;
}

.nav-middle input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    color: #53bd97;
}

.nav-middle input::placeholder {
    color: #53bd97;
}

.nav-middle:focus-within {
    border: 1px solid black;
}

.nav-middle:focus-within label i {
    color: black;
}

.nav-middle:focus-within input {
    color: black;
}

.nav-middle:focus-within input::placeholder {
    color: black;
}

.nav-middle .search-result {
    position: absolute;
    display: none;
    flex-direction: column;
    height: 600px;
    width: calc(30% - 10px);
    top: 60px;
    background-color: #fff;
    border: 1px solid #53bd97;
    border-radius: 5px;
    z-index: 9999;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 10s;
}
.nav-middle .search-result::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
}
.nav-middle .search-result::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
}
.nav-middle .search-result::-webkit-scrollbar-thumb:hover {
    background-color: #53bd97;
}


.nav-middle .search-result .search-item {
    width: 100%;
    font-size: 1em;
    color: #53bd97;
    cursor: pointer;
}

.search-item a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: black;
    padding: 12px;
    width: 100%;
    transition: all 0.2s;
}

.search-item a:hover {
    background-color: #53bd97;
    color: #fff;
    border-radius: 5px;
}

.search-item a img {
    border-radius: 5px;
    margin-right: 10px;
    width: 80px;
    transition: width 0.2s;
}

.search-item a:hover img {
    width: 90px;
}

.search-item a .info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #53bd97;
    border-radius: 10px;
    width: 100%;
    height: 100px
}


.search-item a:hover .info-container {
    color: black;
}

.search-item a .info-container .book-name {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
    margin: 15px 10px;
    transition: all 0.2s;

}

.search-item a .info-container .book-author {
    font-size: 1em;
    font-weight: thin;
    margin: 0px 10px;
    font-weight: 500;
    transition: all 0.2s;
}

.search-item a .info-container .book-publisher {
    font-size: 0.8em;
    font-weight: thin;
    margin: 5px 10px;
    font-weight: 500;
    transition: all 0.2s;
   
}

.search-item:hover a .info-container .book-name{
    font-size: 1.1em;
}

.nav-right {
    width: 25%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-right a {
    text-decoration: none;
    color: #53bd97;
    margin: 0 0px;
    font-size: 1.2em;
    font-weight: bold;
}


.nav-right a .fa-cart-shopping{
    font-size: 1.2em;
    cursor: pointer;
    margin-right: -15px;
    margin-left: 10px;
}

.nav-right a span {
    font-size: 1em;
    font-weight: thin;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    padding: 0 5px;
    cursor: pointer;
    position: relative;
    top: -10px;
    left: -5px;
}

.nav-right a:hover {
    color: black;
}

.vl{
    border-left: 1px solid #53bd97;
    height: 30px;
    margin: 0 10px;
    border-radius: 5px;
}

.nav-right a .fa-user{
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 10px;
}

.nav-bottom {
    width: 100%;
    padding: 10px 0;
    background-color: #53bd97;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    
}

.nav-bottom a:hover {
    color: black;
}

.nav-bottom .vl {
    border-color:  #fff;
    height: 20px;
    border-radius: 5px;
}

.nav-bottom a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

.nav-bottom a.active{
    background-color: #fff;
    color: #53bd97;
    border-radius: 5px;
    padding: 5px 10px;
}

.nav-bottom a.active:hover {
    background-color: black;
    border-radius: 5px;
    padding: 5px 10px;
}
.fa-instagram{
    color: #53bd97;
    font-size: 3em;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.2s;
}
.fa-instagram:hover{
    color: #FD0599;
    scale: 1.2;
}





@media (max-width: 1600px) {
    .nav-top {
        margin-top: 250px;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.9); 
        backdrop-filter: blur(100px); 
    }

    .nav-top {
        width: 100%;
        height: auto;
        padding: 0 5%;
    }
    .nav-left {
        width: 100%;
        justify-content: center;
        margin: 0;
    }
    .nav-left a {
        font-size: 1em;
    }
    .nav-left .logo-name {
        font-size: 1.5em;
        margin-left: 0;
    }

    .nav-right {
        width: 100%;
        justify-content: center;
        margin: 0;
    }

    .nav-middle {
        width: 100%;
        height: auto;
        padding: 0 5%;
        margin: 10px 0;
    }
    .nav-middle label i {
        font-size: 1em;
    }
    .nav-middle input {
        width: 100%;
        height: 100%;
        font-size: 1.2em;
        padding: 5px;
    }
    .nav-middle input::placeholder {
        font-size: 0.9em;
    }
    .nav-middle .search-result {
        width: 90%;
        height: auto;
        max-height: 300px;
        padding: 0 5%;
        margin-top: 40px;
        border-radius: 5px;
    }

    .nav-bottom {
        margin-top: -20px;
        font-size: 1.5em;
        flex-direction: column;
        padding: 10px 0;
    }

    .search-item a img {
        width: 60px;
        transition: width 0.S3s ease;
    }

    .search-item a:hover img {
        width: 70px;
    }

    .search-item a .info-container {
        height: auto;
    }

    .nav-bottom {
        font-size: 1em;
        flex-wrap: wrap;
        text-align: center;
        padding: 5px 0;
    }

    .nav-bottom a {
        margin: 5px;
        padding: 4px 6px;
        border-radius: 8px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .nav-bottom a:hover {
        background-color: #fff;
        color: #53bd97;
    }
}

    
    
@media (max-width: 768px) {
        nav {
            flex-direction: column;
            padding: 10px 0;
        }

        .nav-top {
            margin-top: 240px;
            flex-direction: column;
            padding: 5px 5%;
        }

        .nav-left, .nav-middle, .nav-right {
            width: 100%;
            justify-content: center;
            margin: 5px 0;
        }

        .nav-left .logo-name {
            font-size: 1.2em;
        }

        .nav-middle {
            padding: 5px;
            height: auto;
        }

        .nav-middle input {
            font-size: 1em;
            padding: 4px;
        }

        .nav-middle .search-result {
            max-height: 200px;
            width: 90%;
            margin-top: 90px;
            overflow-y: auto;
        }

        .nav-right a {
            font-size: 1em;
        }

        .nav-bottom {
            flex-direction: column;
            font-size: 0.9em;
            padding: 5px 0;
        }

        .nav-bottom a {
            margin: 5px 0;
            padding: 4px 5px;
        }

        .fa-instagram {
            font-size: 2em;
        }
        .vl {
            display: none;
        }
    }

