
.list-group-item {
    border: 0;
}

hr {
    border-color: #007bff;
}
.fa-remove {
    color: white;
    float: right;
    position: relative;
    margin-top: 3px;
    margin-left: 10px;
}
.fa-remove:hover {
    color: black;
}

#todoClearButton {
    display: block;
    width: auto;
    margin: 0 auto;
}